.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: white;
}

.MuiAutocomplete-hasPopupIcon.css-dd2h8b-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-dd2h8b-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  background-color: white;
  padding: 0;
}
